@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: #ffffff
  overflow: hidden;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #f5f6f8;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: #292c31;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .row input::placeholder{
  color: #999;
}
.1wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #ACAFB8;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #f1bd11;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #301f00;
  font-size: 20px;
font-weight: bold;
  font-weight: 500;
  padding-left: 0px;
  background: #f1bd11;
  
  cursor: pointer;
}
form .button input:hover{
  background: #ca9e10;
}
.wrapper form .signup-link{
  margin: -8px 0 20px 0;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #f1bd11;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

#header{
  width: 100%; 
  height: 80px;
  background-color: #292c31;
  margin-bottom: 10px;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.header_title{
text-align: center;
  position: relative;
}

.header_logo{
position: absolute;
   left:0;
   
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 80px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
 font-size: 25px;
    color: #fff;
    display: flex;
  flex-direction: column;
align-items: center;
text-align: center;
}

.avatar{
border-radius: 5px;
}
